.carousel{
    padding-bottom: 8.75rem;
    background: $background-second-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.75rem;
    
    
    &-title{
        padding: 4.375rem 0;
        font-family: $font-fam-oswald;
        color: $title-second-content;
        font-size: $font-xlg;
        font-weight: 700;
        text-align: center;
        @include breakpoint-up(medium){
            margin-top: 3.125rem;
        }
    }

    &-container{
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 1.875rem 0;
        width: 80%;
    }

    &-item{
        
        margin: 0.9375rem 0.9375rem;
        border-radius: 0.625rem;

        img{

            width: 7.5rem;
            height: 7.5rem;
            object-fit: contain; 
        }

        .svg{
            width: 5rem;
            height: 5rem;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}