.carousel{
    
    background: $background-second-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    
    &-title{
        padding: 70px 0;
        font-family: $font-fam-oswald;
        color: $title-second-content;
        font-size: $font-xlg;
        font-weight: 700;
        text-align: center;
        @include breakpoint-up(medium){
            margin-top: 50px;
        }
    }

    &-container{
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        padding: 30px 0px;
        width: 90%;
    }

    &-item{
        min-width: 120px;
        max-width: 220px;
        height: 120px;
        margin: 10px 10px;
        border-radius: 10px;

        img{
            width: 200px;
            height: 100%;
            object-fit: contain; 
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}