.contact{
    &-container{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient($linear-gradient-color, $linear-gradient-color), url(../../images/contact/20200116_161011.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
    }

    &-header{
        margin-top: 1.875rem;
        width: 80%;
        h2{
            font-family: $font-fam-oswald;
            text-align: center;
            color: $title-color;
            font-size: 2.1875rem;
            margin-bottom: 1.25rem;
        }

        .contact-split{
            height: 0.1875rem;
            width: 40%;
            background: $title-color;
            margin: auto;
            margin-bottom: 1.875rem;
            
        }

        p{
            letter-spacing: 0.0187rem;
            font-family: 'Roboto', sans-serif;
            margin: auto;
            width: 75%;
            text-align: justify;
            color: $links-font-color;
            font-size: 1.0625rem;
            @include breakpoint-up(large){
                margin-top: 2.5rem;
                width: 80%;
            }
        }

    }

    &-adress{
        width: 21.875rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        @include breakpoint-up(large){
            min-height: 23.75rem;
            width: 80%;
            flex-flow: row nowrap;
            justify-content: center;
        }

        .info-container{
           
            height: 7.8125rem;
            margin-top: 1.875rem;
            margin-left: 1.25rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;

            @include breakpoint-up(large){
                margin-left: 0;
                align-items: center;
                justify-content: space-around;
                text-align: center;
            }
            p{
                letter-spacing: 0.0625rem;
                font-family: 'Roboto', sans-serif;
                color: $background-second-content;
                font-weight: 500;
                font-size: $font-l;
                margin-bottom: 0.9375rem;
            }

            a{
                letter-spacing: 0.0313rem;
                font-family: 'Roboto', sans-serif;
                color: $links-font-color;
                font-size: $font-smed;
                width: 12.5rem;
                &:hover{
                    color: $link-hover;
                }
            }

            .info-title{
                @include breakpoint-up(large){
                    margin-top: 1.5625rem;
                }
                
            }

            .email-title{
                @include breakpoint-up(large){
                    margin-top: 0.625rem;
                }
            }
        }

        .contact-place{
            
            width: 18.75rem;
            height: 7.8125rem;
            margin-top: 1.875rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            @include breakpoint-up(large){
                height: 14.0625rem;
                flex-flow: column nowrap;
                margin-top: 1.875rem;
            }
            
            img{
                width: 2.1875rem;
                margin-left: 1.25rem;
                @include breakpoint-up(large){
                    margin-left: 0;
                    margin-top: 0.9375rem;
                }
            }
        }

        .contact-numbers, .contact-email{
            
            width: 18.75rem;
            height: 7.8125rem;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            @include breakpoint-up(large){
                height: 14.0625rem;
                flex-flow:column nowrap;
                margin-top: 1.875rem;
            }

            img{
                width: 2.1875rem;
                margin-left: 1.25rem;
                @include breakpoint-up(large){
                    margin-left: 0;
                    margin-top: 0.9375rem;
                }
            }
        }
       
    }
}

