.contact{
    &-container{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(117, 112, 112); */
        background-image: linear-gradient($linear-gradient-color, $linear-gradient-color), url(../../images/contact/20200116_161011.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
        
    }

    &-header{
        margin-top: 30px;
        /* background: white; */
        width: 80%;
        h2{
            font-family: $font-fam-oswald;
            text-align: center;
            color: $title-color;
            font-size: 35px;
            margin-bottom: 20px;
        }

        .contact-split{
            height: 3px;
            width: 40%;
            background: $title-color;
            margin: auto;
            margin-bottom: 30px;
            
        }

        p{
            letter-spacing: 0.3px;
            font-family: 'Roboto', sans-serif;
            margin: auto;
            width: 90%;
            text-align: justify;
            color: $links-font-color;
            font-size: 15px;
            @include breakpoint-up(large){
                margin-top: 40px;
                width: 80%;
            }
        }

    }

    &-adress{
        width: 350px;
       
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
        @include breakpoint-up(large){
            min-height: 380px;
            width: 80%;
            flex-flow: row nowrap;
            justify-content: center;
        }

        .info-container{
           
            height: 125px;
            margin-top: 30px;
            margin-left: 20px;
            /* margin-bottom: 50px; */
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;

            @include breakpoint-up(large){
                margin-left: 0px;
                align-items: center;
                justify-content: space-around;
                text-align: center;
            }
            p{
                letter-spacing: 1px;
                font-family: 'Roboto', sans-serif;
                color: $background-second-content;
                font-weight: 500;
                font-size: $font-l;
                margin-bottom: 15px;
            }

            a{
                letter-spacing: 0.5px;
                font-family: 'Roboto', sans-serif;
                color: $links-font-color;
                font-size: $font-smed;
                width: 200px;
                &:hover{
                    color: $link-hover;
                }
            }

            .info-title{
                @include breakpoint-up(large){
                    margin-top: 25px;
                }
                
            }

            .email-title{
                @include breakpoint-up(large){
                    margin-top: 10px;
                }
            }
        }

        .contact-place{
            
            width: 300px;
            height: 125px;
            /* background: rgb(100, 44, 44); */
            margin-top: 30px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            @include breakpoint-up(large){
                height: 225px;
                flex-flow: column nowrap;
                margin-top: 30px;
            }
            
            img{
                width: 35px;
                margin-left: 20px;
                @include breakpoint-up(large){
                    margin-left: 0;
                    margin-top: 15px;
                }
            }
        }

        .contact-numbers, .contact-email{
            
            width: 300px;
            height: 125px;
            /* background: rgb(100, 44, 44); */
            
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            @include breakpoint-up(large){
                height: 225px;
                flex-flow:column nowrap;
                margin-top: 30px;
            }

            
            img{
                width: 35px;
                margin-left: 20px;
                @include breakpoint-up(large){
                    margin-left: 0;
                    margin-top: 15px;
                }
            }
        }

       
    }
}

