.projects{
    &-container{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .projects-title{
            margin: 30px 0;
            font-family: $font-fam-oswald;
            font-size: $font-xlg;
            color: $title-second-content;
        }


    }

    &-item{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .item-title{
            font-family: $font-fam-roboto;
            font-size: $font-l;
            font-weight: 600;
            color: $title-second-content;
            margin-bottom: 25px;
            
        }

        .items-container{
            display: flex;
            flex-direction: column;

            img{
                border-radius: 5px;
                width: 300px;
                height: 300px;
                object-fit: cover; 
                margin-bottom: 30px;
            }
        }
    }
}