.projects{
    background:$background-second-content ;
    &-container{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .projects-title{
            margin: 1.875rem 0;
            font-family: $font-fam-oswald;
            font-size: $font-xlg;
            color: $title-second-content;
        }


    }

    &-item{
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .item-title{
           
            font-family: $font-fam-roboto;
            font-size: $font-xl;
            font-weight: 600;
            color: $title-second-content;
            margin: 5rem 0;
            text-align: left;
            
        }

        .items-container{
            
            width: 60%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

             @include breakpoint-up(medium){
                width: 80%;
             }

             @include breakpoint-up(large){
                width: 70%;
             }

            img{
                border-radius: 0.1875rem;
                box-shadow: $img-border-shadow;
                width: 15.625rem;
                height: 15.625rem;
                object-fit: cover; 
                margin: 0 1.25rem;
                margin-bottom: 3.75rem;
                &:hover {
                    transform: scale(1.2);
                }
            }
           
        }
    }
}